<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Shoe Shop{% endblock %}</title>
        {% block stylesheets %}
            <style>
            .parent
            {
                height: 100px;
            }
            .child
            {
                height: 100px;
                display: inline-block;
                width: 30%;
            }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h2 align="center">Popular Arrivals</h2>
            <div class="parent">
                {% for shoe in shoes%}
                <div class="child">
                    <img src="{% path shoe.media, 'big' %}">
                    <pre>{{ shoe.name }}                                          {{ shoe.category }}</pre>
                    ${{ shoe.price }}
                </div>
                {% endfor %}
                <h2 align="center">Latest Blog</h2>
                {% for blog in blogs %}
                    <img src="{% path blog.media, 'big' %}">
                    <h4>{{ blog.name }}</h4>
                    {{ blog.description }}<br>
                {% endfor %}
            </div>
            </div>
        {% endblock %}
    </body>
</html>
